name: publish

on:
  create:
    tags:
      - '^v[0-9]+.[0-9]+.[0-9]+'

env:
  CARGO_TERM_COLOR: always

jobs:
  verify-tests:
    runs-on: ${{ matrix.os }}
  
    strategy:
      matrix:
        os: [ windows-latest, macos-latest, ubuntu-latest ]
  
    steps:
    - uses: actions/checkout@v4

    - name: Run tests
      run: cargo test --verbose
  
  publish:
    runs-on: macos-latest
    needs: [verify-tests]
    steps:
      - uses: actions/checkout@v4

      - name: Install cargo-edit/cargo-set-version
        run: cargo install cargo-edit --features vendored-openssl

      - name: Set version to current tag
        run: cargo set-version $(git tag -l --sort="-taggerdate" | head -n1 | sed 's/^v//')

      - name: Publish to crates.io
        run: cargo publish --token ${{ secrets.CRATE_PUBLISH_TOKEN }}
