name: publish

on:
  create:
    tags:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'

env:
  CARGO_TERM_COLOR: always

jobs:

  build:
    runs-on: ${{ matrix.os }}
  
    strategy:
      matrix:
        os: [ windows-latest, macos-latest, ubuntu-latest ]
  
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
  
  publish:
    runs-on: macos-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v4
      - name: Publish to crates.io
        run: cargo publish --token ${{ secrets.CRATE_PUBLISH_TOKEN }}
